@using Microsoft.Extensions.Localization;
@using MyCookbook.Services;
@inject IStringLocalizer<Index> Localizer
@inject LanguageNotifier LanguageNotifier
@implements IDisposable
@page "/"

<PageTitle>My Cookbook</PageTitle>

<br />
<h1>@Localizer["Dashboard"]</h1>

@Localizer["Welcome"]

@code {
    protected override void OnInitialized() => LanguageNotifier.SubscribeLanguageChange(this);
    public void Dispose() => LanguageNotifier.UnsubscribeLanguageChange(this);
}