<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect default azure domain to custom domain" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^mycookbookpdn\.azurewebsites\.net" />
					</conditions>
					<action type="Redirect" url="https://cookbookapp.xyz"  />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>